<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ttml</key>
	<dict>
		<key>JODocumentTypeIsLocked</key>
		<false/>
		<key>JODocumentTypeName</key>
		<string>ttml</string>
		<key>JODocumentTypeRegExp</key>
		<string></string>
		<key>JODocumentTypeUTI</key>
		<string>dyn.ah62d4rv4ge81k7drru</string>
		<key>RuleArray</key>
		<array>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmg2JqDT+Du/ZTP4Mm
				6X0/AYY=
				</data>
				<key>EndString</key>
				<string>=</string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string></string>
				<key>StartString</key>
				<string> </string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmg/1pjT6DFecIP4MA
				DE0/AYY=
				</data>
				<key>EndString</key>
				<string> </string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string></string>
				<key>StartString</key>
				<string>&lt;</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmg3CZGT+DnJoZP4Pw
				mRk/AYY=
				</data>
				<key>EndString</key>
				<string>--&gt;</string>
				<key>ExclusiveData</key>
				<false/>
				<key>Name</key>
				<string>Comment</string>
				<key>StartString</key>
				<string>&lt;!--</string>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmg19iQj+DZlT9PoOY
				T8o+AYY=
				</data>
				<key>EndString</key>
				<string>"</string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string></string>
				<key>StartString</key>
				<string>"</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmg6fmZj+DbOhmP4Nq
				52Y/AYY=
				</data>
				<key>EndString</key>
				<string>&lt;</string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string></string>
				<key>StartString</key>
				<string>&gt;</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmg4SzMz+D4rQzP4Mb
				tDM/AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string></string>
				<key>StartString</key>
				<string>&lt;</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmg4SzMz+D4rQzP4Mb
				tDM/AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string></string>
				<key>StartString</key>
				<string>&gt;</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgwBeMz+DAF4zP4MA
				XjM/AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string></string>
				<key>StartString</key>
				<string>=</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmg47IyD2DGMrIPYM6
				ycg9AYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string></string>
				<key>StartString</key>
				<string> </string>
				<key>Underline</key>
				<false/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
